@import '../../styles/variables';

.main-cart-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $fontStyle;
}

.cart-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 100%;
    color: black;
    box-shadow: 5px 10px 10px 10px $backgroundColor;
}

.cart-details p {
    padding: 15px;
    font-weight: bold;
}

.cart-details-items-count {
  text-align: center;
}

.remove-item-button {
  position: relative;
}

.cart-item-container {
    width: 90%;
  margin: 10px;
  padding: 10px;
  display: flex;
  position: relative;
}

.cart-item-image {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.cart-item-details {
  box-sizing: border-box;
}

.cart-item-name {
  font-weight: 700;
}

.remove-item-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #b2969a;
    font-family: $fontStyle;
}

.qty-selector {
  font-size: 10;
}


@media(min-width: 800px){
  .cart-item-container {
    width: 30vw;
  }
}
