@import '../../styles/variables';


.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
}

.product-container {
    margin: 10px;
    width: 40vw;
    margin-top: 75px;
    font-family: "Open Sans", sans-serif;
    font-family: "Montserrat", sans-serif;
}

.products-image {
    width: 40vw;
    height: 20vh;
}

.product-text-container {
    margin: 5px;
}