@import '../../styles/variables';

.product-main {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.product-card {
    width: 90%;
    font-family: $fontStyle;
}


.product-image {
    width: 90vw;
    height: 50vh;
    object-fit: contain;
}

.button-price-description {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-cart-button {
    width: 200px;
    height: 60px;
    margin: 20px;
    color: white;
    background-color: $buttonColor;
    border-radius: 20px;
    font-family: $fontStyle;
    border: none;
}

.price {
    font-weight: 700;
    font-size: 30px;
}

.thumbnail-img-section {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.thumbnail-img {
    height: 100px;
    width: 100px;
    border: .5px solid black;
}

.delete-product-button {
    background-color: #d0b2b2;
    border: none;
    height: 30px;
    border-radius: 10px;
    color: white;
    font-family: $fontStyle;
    left: 60px;
}



