@import "../../styles//variables";

.register-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.register-card input {
    width: 200px;
    height: 30px;
    background-color: #b2c4ce;
    margin: 5px;
    font-size: 18px;
    font-family: $fontStyle;
    border: none;
    border-radius: 15px;
    outline: none;
}

.register-card button {
    font-family: $fontStyle;
}